.nrw-event-name {
    display: flex;
    gap: var(--go-ui-spacing-2xs);
    color: var(--go-ui-color-gray-90);

    .hazard-icon {
        flex-shrink: 0;
        margin-top: var(--go-ui-spacing-5xs);
        font-size: var(--go-ui-font-size-md);
    }

    .heading {
        overflow-wrap: anywhere;
    }
}
