.events-height {
    grid-template-rows: var(--nrw-height-map);
}

.country-profile-nrw-standalone {
    .main-section-container {
        .main-section {
            padding: 0 var(--go-ui-spacing-md);
            max-width: none;
        }
    }

    .events-height {
        grid-template-rows: var(--nrw-height-map-standalone);
    }
}
