.national-risk-watch-heading {
  text-transform: uppercase;
  letter-spacing: 5%;
  font-size: 1.285rem;
  font-weight: 600;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 20px;
  height: calc(100vh - 40px);
}

.main-content {
  display: flex;
  flex: 1;
  height: 100%;
  min-height: 0;
}

.event-panel-column {
  box-sizing: border-box;
  flex-shrink: 0;
  order: 2;
  padding: 16px 16px 16px 0;
  width: 30%;
  height: 100%;
  overflow-y: auto;
}

.map-column {
  box-sizing: border-box;
  flex: 0 0 70%;
  order: 1;
  padding: 16px;
  width: 70%;
  min-width: 0;
  height: 100%;
}
