.layer-panel {
    display: flex;
    position: absolute;
    top: calc(12px + 57px + 14.5px + 28px + var(--go-ui-spacing-xs));
    right: 12px;
    flex-direction: column;
    gap: var(--go-ui-spacing-xs);
    border: 2px solid rgb(50 50 50 / 20%);
    border-radius: var(--go-ui-border-radius-md);
    background-clip: padding-box;
    background-color: var(--go-ui-color-white);
    padding: var(--go-ui-spacing-sm);
    min-inline-size: 10.5rem;
    line-height: var(--go-ui-line-height-md);

    .title {
        display: flex;
        align-items: center;
        gap: var(--go-ui-spacing-2xs);
        color: var(--go-ui-color-primary-blue);
        font-size: var(--go-ui-font-size-md);
        font-weight: var(--go-ui-font-weight-semibold);
    }

    .title-icon {
        inline-size: 12px;
        height: 12px;
    }

    .items {
        display: flex;
        flex-direction: column;
        gap: var(--go-ui-spacing-2xs);
        color: var(--go-ui-color-gray-90);
        font-size: var(--go-ui-font-size-sm);
        font-weight: var(--go-ui-font-weight-medium);
    }

    .layer-toggle {
        display: flex;
        align-items: center;
        gap: var(--go-ui-spacing-3xs);
        border: none;
        background: none;
        cursor: pointer;
        padding: 0 0 0 var(--go-ui-spacing-5xs);
        text-align: start;
        white-space: nowrap;
        color: inherit;
        font: inherit;
    }

    .checkbox {
        inline-size: 14px;
        height: 14px;
        color: var(--go-ui-color-primary-blue);
    }
}
