.nrw-legend-ramp {
    display: flex;
    flex-direction: column;
    gap: var(--go-ui-spacing-3xs);

    .label {
        white-space: nowrap;
        color: var(--go-ui-color-gray-90);
        font-weight: var(--go-ui-font-weight-medium);
    }

    .ramp {
        display: flex;
        align-items: center;
        gap: var(--go-ui-spacing-2xs);
    }

    .ramp-label {
        color: var(--go-ui-color-gray-70);
    }

    .ramp-swatches {
        display: flex;
        border: 1px solid rgb(50 50 50 / 20%);
        border-radius: 2px;
        overflow: hidden;
    }

    .ramp-swatch {
        opacity: 0.8;
        inline-size: 16px;
        height: 16px;
    }
}
