.hazardPin {
    cursor: pointer;
    width: 24px;
    height: 32px;
}

.pinInner {
    position: relative;
    width: 100%;
    height: 100%;
}

.hazardPin svg {
    display: block;
    width: 100%;
    height: 100%;
    overflow: visible;
    filter: drop-shadow(0 2px 3px rgb(0 0 0 / 25%));
}

.pinOutline {
    fill: none;
    stroke: rgb(50 50 50 / 20%);
    stroke-width: 2;
}

.icon {
    position: absolute;
    top: 36.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1;
    color: white;
    font-size: 10px;
}

.pinLow .pinBody {
    fill: #ffc635;
}

.pinMedium .pinBody {
    fill: #ff6e00;
}

.pinHigh .pinBody {
    fill: #f5333f;
}

.pinTrigger .pinBody {
    fill: #c01825;
}
