.nrw-exposed-admin-area-row {
    border-top: var(--go-ui-width-separator-sm) solid var(--go-ui-color-gray-30);

    td {
        padding: var(--go-ui-spacing-3xs) var(--go-ui-spacing-2xs);
        width: 50%;
        text-align: left;
    }

    .admin-area,
    .exposed-population {
        display: flex;
        align-items: center;
        gap: var(--go-ui-spacing-2xs);
    }

    .color-dot {
        flex-shrink: 0;
        border-radius: var(--go-ui-border-radius-full);
        width: var(--go-ui-spacing-xs);
        height: var(--go-ui-spacing-xs);
    }

    .admin-area-name {
        overflow-wrap: anywhere;
        text-align: left;
    }

    .exposed-population {
        justify-content: space-between;
    }

    .hover-icon {
        visibility: hidden;
    }

    &:hover,
    &.hovered {
        background-color: var(--go-ui-color-gray-20);
        font-weight: var(--go-ui-font-weight-semibold);

        .hover-icon {
            visibility: visible;
        }
    }

    &.drillable:hover {
        cursor: pointer;
    }
}
