.eru-input-item {
    /* FIXME: update input section to cover this usecase */
    grid-template-columns: 1fr;

    .content {
        grid-template-columns: 1fr 1fr 1fr 2fr !important;

        .readiness-input {
            .radio-list {
                display: flex;
                flex-direction: column;
            }
        }

        @media screen and (min-width: 30rem) and (max-width: 60rem) {
            grid-template-columns: 1fr 1fr 1fr !important;

            .comment-input {
                grid-column: span 3;
            }
        }

        @media screen and (max-width: 30rem) {
            grid-template-columns: 1fr !important;
        }
    }
}
